[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
palworld-save-tools = "*"
rich = "*"
typing-json = "*"
palworld-save-tools-types = {file = "../palworld-save-tools-types/."}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
